*{
    margin: 0;
}
body{
    background-color: black;
}
.container{
    width: 1536px;
    margin: 0 auto;
}
@media screen and (max-width:1680px){
    .container{
        width: 1336px;
    }
}
@media screen and (max-width:1460px){
    .container{
        width: 1136px;
    }
}
@media screen and (max-width:1280px){
    .container{
        width: 960px;
    }
}
@media screen and (max-width:1024px){
    .container{
        width: 100%;
    }
}
.content_flex {
    display: flex;
}
/* color */
.color_lightblue{
    color:rgb(79, 229, 255) ;
}
.color_white{
    color: #ffffff;
}

/* nav */
nav{
    width: 100%;
}
nav a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 190px;
    height: 48px;
}
.logo a{
    width: 16px;
    height: 16px;
    line-height: 49px
}
.logo a svg {
    width: 16px;
}
.logo a svg rect{
    width: 11;
    height: 11;
    fill: rgb(255, 255, 255);
}
.title{
    line-height: 49px
}
.navigation{
    height: 48px;
    flex: 1 1 auto;
    padding: 0px 120px 0px 420px;
}
@media screen and (max-width:1460px){
    .navigation{
        padding: 0px 60px 0px 120px;
    }
}
.navigation ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.navigation ul li{
    width: auto;
    /* color: rgb(255, 255, 255); */
    font-size: 16px;
    line-height: 49px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}


/* main */
.main{
    width: 100%;
}
.page1{
    margin: 145px 0px 60px;
}
.page1_text{
    flex: 0 0 auto;
    width: 410px;
}
@media (max-width: 1280px){
    .page1_text {
    width: 50%;
    }
}
.page1_text_content{
    width: 100%;
    max-width: 352px;
    margin: 100px 0px 30px;
}
@media (max-width: 1460px){
    .page1_text_content{
        max-width: 384px;
    }
}
@media (max-width: 960px){
    .page1_text_content{
        max-width: 352px;
        width: 100%;
    }
}
.page1_image{
    width: 50%;
}
.page1_text_title h2{
    font-size: 64px;
    line-height: 80px;
    font-weight: 600;
}
.page1_text_content p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px 0px 24px;
}



